.cabecalho{
width: 360px;
height: 90px;
 background-color:plum
}
.primeira-seção{
    width: 360px;
    height: 193px;
    background-color:rgb(216, 142, 245) ;
}

.retangulo{
    width: 76px;
    height: 156px;
    background-color: wheat
}
.retangulo{
    width: 76px;
    height: 156px;
    background-color: wheat
}
.retangulo{
    width: 76px;
    height: 156px;
    background-color: wheat
}
.retangulo{
    width: 76px;
    height: 156px;
    background-color: wheat
}